{% load static %}
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% block extrahead %}
    {% endblock %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
    {% if title %}
    <title> &copy; Sweep The Floor - {{ title }} </title>
    {%else%}
    <title class=""> &copy; Sweep The Floor </title>
    {%endif%}
</head>
<body>

<!--navigation navbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="{% static 'images/logo.png' %}" alt="" class=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="{% url 'home' %}" class="nav-link">Home</a>
                </li>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'booking-admin-index' %}" class="nav-link">Search Booking List</a>
                </li>
                {% else%}
                <li class="nav-item">
                    <a href="{% url 'user-booking' %}" class="nav-link">Booking</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'booking-index' %}" class="nav-link">Booking List</a>
                </li>
                {% endif%}
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link">Register</a>
                </li>
                {% endif%}
            </ul>
        </div>
        <div class="">
            {% if user.is_authenticated %}
            <p class="">
                <small class="text-muted">Login: {{user.username}}</small><br>
                <small class="text-muted">Last Login: {{user.last_login}}</small><br>
                {% if user.is_superuser %}
                <small class="text-muted">Role: Admin/Superuser</small>
                {% endif %}
            </p>
            {% endif%}
        </div>
    </div>
</nav>

<div class="container-fluid col-md-6">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} shadow-sm">
        {{message}}
    </div>
    {% endfor %}
    {%endif%}
    {% block content %}{% endblock %}
</div>

<!--content from other template end-->

<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h2 class="">Connect</h2>
        </div>
        <div class="col-12 social padding">
            <a href="https://www.facebook.com/semua_unggul-110605833708916/" class=""><i class="fab fa-facebook"></i></a>
            <a href="#" class=""><i class="fab fa-twitter"></i></a>
            <a href="#" class=""><i class="fab fa-google-plus-g"></i></a>
            <a href="https://www.instagram.com/semua_unggul/?hl=ms" class=""><i class="fab fa-instagram"></i></a>
            <a href="#" class=""><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

<!--end connect-->


<!--footer-->
<footer class="">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{% static 'images/logo.png' %}" alt="" class="">
                <hr class="light">
                <p class="">(+6)016-6300190</p>
                <p class="">sussb007@gmail.com</p>
                <p class="">56 Jalan BRP 1/2 Bukit Rahman Putra</p>
                <p class="">47000 Sungai Buloh, Selangor</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5 class="h5">Our Hours</h5>
                <hr class="light">
                <p class="">Monday to Thursday: 9am-5pm</p>
                <p class="">Friday: 9am-5pm (break 12pm-230pm)</p>
                <p class="">Saturday: 9am-5pm</p>
                <p class="">Sunday: Closed</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5 class="h5">Service Area</h5>
                <hr class="light">
                <p class="">Shah Alam, Selangor</p>
                <p class="">Sungai Buloh, Selangor</p>
                <p class="">Kuala Lumpur</p>
                <p class="">Kajang</p>
                <p class="">Putrajaya</p>
                <p class="">Cyberjaya</p>
                <p class="">Malacca (coming soon)</p>
            </div>
            <div class="col-12">
                <hr class="light">
                <h5 class="h5">&copy; sweepthefloor.my by Semua Unggul Services Sdn Bhd</h5>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
<!--some jquery script -->
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>


</body>
</html>